<div class="container" id="product">
   
 <div class="wrapper">
     <h2 class="text-center header-size font-size">Gallery</h2>
      <div class="gallery">
        <div class="image" ><span><img src="./images/akagera.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/akagera1.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/gorilla.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/murukari.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/murukari1.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/nyungwe.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/nyungwe4.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/volcanoes.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/nyungwe5.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/volcano4.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/akagera6.jpeg" alt=""></span></div>
        <div class="image" ><span><img src="./images/akagera5.jpeg" alt=""></span></div>
    
      </div>
 </div>

</div>
