<div class="intro-section">
	<div>

		<div class="mySlides fade">
		  <div class="numbertext">1 / 3</div>
		  <img src="/images/akagera.jpeg" style="width:100%">
		  <div class="container">
			<div class="row">
				<div class="col-md-12" >
					<div class="read-text">
						<p class="header-size" id="company-title"></p>
						<p class="mt-5 w-50 pm" id="company-desc"></p>
					</div>
				</div>
			</div>
		</div>
		
		</div>
		
		<div class="mySlides fade">
		  <div class="numbertext">2 / 3</div>
		  <img src="images/volcanoes.jpeg" style="width:100%">
		  <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="read-text">
						<p class="header-size" id="company-title1"></p>
						<p class="mt-5 w-50 pm" id="company-desc1"></p>
					</div>
				</div>
			</div>
		</div>
		  
		</div>
		
		<div class="mySlides fade">
		  <div class="numbertext">3 / 3</div>
		  <img src="images/nyungwe.jpeg" style="width:100%">
		  <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="read-text">
						<p class="header-size" id="company-title2"></p>
						<p class="mt-5 w-50 pm" id="company-desc2"></p>
					</div>
				</div>
			</div>
		</div>
		
		</div>
		
		</div>
		<br>
		
		<div style="text-align:center">
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		</div>
</div>
