<div class="container" id="background">
	<h2 class="text-center header-size font-size" id="service">Services</h2>
	<div class="row padding">
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" >
				<img src="./images/hiking.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Hiking</h5>
					<p class="card-text">hghhghghghhghghghgh</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" >
				<img src='./images/beach.png' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Beach</h5>
					<p class="card-text">hfhfhhhhshshshhshs</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" >
				<img src="./images/camping.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Camping</h5>
					<p class="card-text">hfhfhhfhfhfhfhfh</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding">
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" >
				<img src="./images/swim.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Swimming</h5>
					<p class="card-text">fhfhfhhfhfhhfhfhf</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" >
				<img src='./images/photo.png' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Photography</h5>
					<p class="card-text">nfjfjfjfjjfjfj</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" >
				<img src="./images/eat.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Eating</h5>
					<p class="card-text">nfnfnfnnfmfmfmfmffjfjfjfj</p>
				</div>
			</div>
		</div>
</div>
